= simple_form_for Message.new, url: { action: "create", controller: "messages" } do |f|
 = f.input :name, as: :string
 = f.input :phone_number, as: :integer
 = f.input :images, as: :string
 = f.button :submit, 'Send Blitz!', class: 'light-blue'
